.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 20px 10%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 2.5rem;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s, text-shadow 0.3s; 
}

.logo:hover {
    color: var(--main-color); 
    text-shadow: 0 0 10px var(--main-color), 0 0 20px var(--main-color); 
}

.navbar {
    display: flex;
    gap: 1rem;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    position: relative; 
    transition: color 0.3s; 
}

.navbar a:hover {
    color: var(--main-color);
    animation: glow 1.5s infinite alternate; 
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px var(--main-color), 0 0 10px var(--main-color);
    }
    to {
        text-shadow: 0 0 20px var(--main-color), 0 0 30px var(--main-color);
    }
}

.navbar a.active {
    color: var(--main-color); 
}
