.home {
    height: 100vh;
    background: no-repeat center center/cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 10%; 
}

.home-content {
    max-width: 600px;
    color: #fff; 
    text-align: center; 
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.btn-box {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.btn-box button { 
    padding: 10px 20px;
    background-color: var(--main-color);
    color: #fff;
    border: none; 
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s; 
    cursor: pointer; 
}

.btn-box button:hover {
    background-color: #0d8ac9; 
    transform: scale(1.05);
}

.social-media {
    margin-top: 20px; 
}

.social-media h4 {
    margin-bottom: 10px; 
    font-size: 1.5rem;
    color: #fff; 
}

.social-link {
    margin-right: 15px;
    font-size: 2.5rem; 
    color: var(--main-color);
    position: relative; 
    transition: color 0.3s; 
}

.social-link:hover {
    color: #0d8ac9; 
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px var(--main-color), 0 0 10px var(--main-color);
    }
    to {
        text-shadow: 0 0 20px var(--main-color), 0 0 30px var(--main-color);
    }
}
