:root {
  --bg-color: #1f242d;
  --second-bg-color: #0d1a30;
  --text-color: #fff;
  --main-color: #0ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.heading {
  font-size: 3rem;
  color: var(--main-color);
  text-align: center;
}

button, input, textarea {
  font-family: inherit;
}

input, textarea {
  background: #333;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

input:focus, textarea:focus {
  outline: none;
  border: 1px solid var(--main-color);
}
